{{> head }}

{{> navbar }}

<div class="class">
    <div class="class col-8">
        <h1>One piece</h1>
        <p>Voy a ser el rey pirata</p>
    </div>
    <div class="class col-4">
        <img src="assets/img/one.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}